
<p> $department.getTitle()</p>


<h5></h5><a href="/departments/$department.getId()/edit">edit</a></h5>

<form method="post" action="/departments/$department.getId()/delete">
    <input type="submit" value="DELETE">
</form>